/* general styling */
* {
  font-family: "Lobster", cursive;
  color: rgb(44, 21, 21);
  margin: 0;
  padding: 0;
}

/* :root {
  --brown: rgb(44, 21, 21);
  --pink: rgb(255, 218, 213);
  --green: rgb(40, 107, 81);
  --cyan: cyan;
  --navlink-color: #b9c6ae;
} */
.border {
  border: 5px solid rgb(44, 21, 21);
}
.textcenter {
  text-align: center;
}

li {
  display: inline;
}
#float {
  position: absolute;
  display: inline-block;
}
.pink {
  background-color: rgb(255, 218, 213);
  line-height: 400px;
  width: 100%;
}

.green {
  background-color: rgb(40, 107, 81);
  height: 400px;
  width: 100%;
}
.hero-image {
  /* background-color: white; */
  background: url("../img/animepic.jpg"); /* The image used */
  left: 0;
  top: 0;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
/* bring headers below nav */
.h1 {
  transform: translateY(80px);
}
a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

a:hover {
  color: rgb(44, 21, 21);
  transition-duration: 1s;
  letter-spacing: 2px;

  transform: rotate(360deg);
}

#nav {
  background-image: linear-gradient(to right, white, rgb(40, 107, 81) 60%);

  text-align: right;
  border-top: solid 10px cyan;
  border-bottom: solid 10px rgb(255, 218, 213);
}
#video {
  display: block;
  margin: auto;
}

#contact {
  background-color: rgb(255, 218, 213);
  line-height: 100px;
}

#contactbutton:hover {
  background-color: white;
  color: rgb(44, 21, 21);
  border: 2px rgb(44, 21, 21);
  border-style: ridge;
  width: 100px;
}
#contactbutton {
  background-color: rgb(44, 21, 21);
  color: white;
  border: solid 2px white;
  border-style: outset;
  width: 100px;
}

#form {
  border-bottom: solid 5px rgb(40, 107, 81);
  display: inline;
  padding: 10px;
  border-radius: 50%;
}
#footer {
  background-color: rgb(40, 107, 81);
  color: white;

  border-top: solid 10px rgb(255, 218, 213);
  border-bottom: solid 10px cyan;
  line-height: 100px;
}

/* social media plugs */
.flex {
  display: flex;
  justify-content: center;
}
.fa {
  padding: 10px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fa-instagram {
  color: white;
  background-image: radial-gradient(circle, violet, blue);
}
.fa-youtube {
  background-image: linear-gradient(to bottom, red, white);
  color: white;
}
.fa-soundcloud {
  background-image: linear-gradient(to bottom right, orange, rgb(255, 115, 0));
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(44, 21, 21);
  margin: 20px;
  height: 600px;
}

div {
  width: 200px;
  height: 200px;
  padding: 20px;
  color: white;
  text-align: center;
  margin: 20px;
  background-image: linear-gradient(to bottom left, teal, rgb(40, 107, 81));
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* about me styling */
@media screen and (max-width: 992px) {
  #nav {
    font-size: 14px;
  }
}
